
        select bank_id, dest_wallet_id, swtc+swtv total, wight
        from(
            select bank_id, dest_wallet_id, sum(wight) wight , sum(transaction_value) swtv, sum(transaction_cost) swtc
            from(
                select bank_id, dest_wallet_id, sum(new_count) wight, transaction_cost, transaction_value
                from(
                    select *
                    from(
                        select bank_id, dest_wallet_id,  count(count) new_count, transaction_cost, transaction_value
                        from data_dataset
                        where count = 0
                        group by bank_id, dest_wallet_id, transaction_cost, transaction_value) as b0
 
                    union all
                    select *
                    from(
                        select bank_id, dest_wallet_id,  count new_count, transaction_cost, transaction_value
                        from data_dataset
                        where count != 0) as b1) as b2
                group by bank_id, dest_wallet_id, transaction_cost, transaction_value) as b3
            group by bank_id, dest_wallet_id) as b4
            where bank_id = {{number_of_bank_id}}
            order by total desc

In [5]:
import pandas as pd

In [31]:
data = pd.read_csv('../github_source/tranasaction_dataset.csv', parse_dates=['time_internal'])

In [94]:
tmp_data1 = data[data['count'] == 0]
dg1 = tmp_data1.groupby(by=['bank_id', 'dest_wallet_id', 'transaction_cost', 'transaction_value']).agg({'count':'count'}).reset_index()

In [95]:
tmp_data2 = data[data['count'] != 0]
dg2 = tmp_data2[['bank_id', 'dest_wallet_id', 'transaction_cost', 'transaction_value', 'count']]

In [109]:
dg = pd.concat([dg1, dg2])

In [97]:
dg = dg.groupby(by=['bank_id', 'dest_wallet_id', 'transaction_cost', 'transaction_value']).agg({'count': 'sum'}).reset_index()

In [98]:
dg = dg.groupby(by=['bank_id', 'dest_wallet_id']).sum(['transaction_cost', 'transaction_value', 'count']).reset_index()

In [99]:
dg['total_value'] = dg['transaction_cost'] + dg['transaction_value']
dg = dg.drop(['transaction_cost', 'transaction_value'], axis='columns')

In [107]:
your_bank_id = 13335
dg[dg['bank_id'] == your_bank_id].sort_values(by='total_value', ascending=False)

       bank_id  dest_wallet_id   count  total_value
86981    13335      3161613056   72049   7693582494
81789    13335      1746866354  195095   6804993010
81694    13335      1746866206  193428   5193374629
86875    13335      3161612295   49956   4428249274
86910    13335      3161612551   50390   4334148983
...        ...             ...     ...          ...
83481    13335      2889911470       1          300
76841    13335      1746179293       2          300
77293    13335      1746209507       1          300
73596    13335      1745979587       6          296
75373    13335      1746068012       5          255

[15784 rows x 4 columns]