        select bank_id, transaction_gateway_id, swtc+swtv total, wight
        from(
            select bank_id, transaction_gateway_id, sum(wight) wight , sum(transaction_value) swtv, sum(transaction_cost) swtc
            from(
                select bank_id, transaction_gateway_id, sum(new_count) wight, transaction_cost, transaction_value
                from(
                    select *
                    from(
                        select bank_id, transaction_gateway_id,  count(count) new_count, transaction_cost, transaction_value
                        from data_dataset
                        where count = 0
                        group by bank_id, transaction_gateway_id, transaction_cost, transaction_value) as b0
 
                    union all
                    select *
                    from(
                        select bank_id, transaction_gateway_id,  count new_count, transaction_cost, transaction_value
                        from data_dataset
                        where count != 0) as b1) as b2
                group by bank_id, transaction_gateway_id, transaction_cost, transaction_value) as b3
            group by bank_id, transaction_gateway_id) as b4
            where bank_id = {{number_of_bankid}}
            order by total desc

In [2]:
import pandas as pd

In [19]:
data = pd.read_csv('../../github_source/tranasaction_dataset.csv', parse_dates=['time_internal'])

In [34]:
tmp_data = data[data['count'] == 0]
dg1 = tmp_data.groupby(by=['bank_id', 'transaction_gateway_id', 'transaction_cost', 'transaction_value']).agg({'count': 'count'}).reset_index()

In [35]:
tmp_data2 = data[data['count'] != 0]
dg2 = tmp_data2[['count', 'bank_id', 'transaction_gateway_id', 'transaction_cost', 'transaction_value']]

In [38]:
dg = pd.concat([dg1, dg2])

In [39]:
dg = dg.groupby(by=['bank_id', 'transaction_gateway_id', 'transaction_cost', 'transaction_value']).agg({'count': 'sum'}).reset_index()

In [43]:
dg = dg.groupby(by=['bank_id', 'transaction_gateway_id']).agg({
    'count' : 'sum',
    'transaction_cost' : 'sum',
    'transaction_value' : 'sum'
}).reset_index()

In [48]:
dg['total_value'] = dg['transaction_cost'] + dg['transaction_value']
dg = dg.drop(['transaction_cost', 'transaction_value'], axis='columns')

In [52]:
your_bank_id = 13335
dg[dg['bank_id'] == your_bank_id].sort_values('total_value', ascending=False)

       bank_id transaction_gateway_id   count  total_value
43832    13335                13f3cf8  977413  51677049113
44077    13335                7cac11e    1768  16219054336
44285    13335                f033ab3   55521   6085546528
44299    13335                f7e9050     116   2239493814
43967    13335                4d6b3e3   13893   2094431350
...        ...                    ...     ...          ...
44244    13335                db4d9c2       3          310
44259    13335                e090d95       3          310
44273    13335                e9aa53d       2          310
43869    13335                22f5adc       3          310
44039    13335                6aa3406       2          310

[524 rows x 4 columns]