In [89]:
import pandas as pd
import numpy as np

In [41]:
titanic = pd.read_csv('train.csv')
t = titanic.set_index(['PassengerId'])
pd.set_option('display.max_rows', None)

In [42]:
result = pd.DataFrame(index=t.columns, columns=t.columns)

In [43]:
# outer_column = 'Survived'
# ff = t[t[outer_column].duplicated(keep=False)][outer_column].value_counts()
# for column in t.columns:
#     sum = 0
#     if column in ['Name', outer_column]:
#         continue
#     for i in ff.items():
#         percent = round(t[t[outer_column] == i[0]].fillna(-1)[column].value_counts(normalize=True)*100, 2).max()
#         column_value = t[t[outer_column] == i[0]].fillna(-1)[column].value_counts().sort_values(ascending=False).head(1).index[0]
#         sum += i[1] * percent
#     result[outer_column][column] = round(sum / ff.sum(), 2)

# result.dropna(axis='columns', how='all').sort_values(by='Survived')

In [47]:
for outer_column in t.columns:
    sum = 0
    if outer_column in ['Name', 'Survived']:
        continue
    ff = t[t[outer_column].duplicated(keep=False)][outer_column].value_counts()
    for i in ff.items():
        percent = round(t[t[outer_column] == i[0]].fillna(-1)['Survived'].value_counts(normalize=True)*100, 2).max()
        column_value = t[t[outer_column] == i[0]].fillna(-1)['Survived'].value_counts().sort_values(ascending=False).head(1).index[0]
        sum += i[1] * percent
    result['Survived'][outer_column] = round(sum / ff.sum(), 2)

t_result = result.dropna(axis='columns', how='all').dropna(axis='index', how='all').sort_values(by='Survived', ascending=False)
t_result

         Survived
Ticket      84.88
Cabin       82.52
Sex         78.67
Fare        77.96
Pclass       67.9
Age         65.19
Embarked    63.78
SibSp        63.3
Parch       63.03

In [79]:
dataset = pd.read_csv('test.csv')
dataset.head()

dataset2 = pd.read_csv('gender_submission.csv')
dataset2.head(), dataset.head()

dataset_final = dataset.merge(dataset2, on='PassengerId')

x = dataset_final.iloc[:, :-1].values
y = dataset_final.iloc[:, 11].values

# from sklearn.model_selection import train_test_split
# x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.30)
# print(x_train, end="\n\n\n\n")
# print(x_test, end="\n\n\n\n")
# print(y_train, end="\n\n\n\n")
# print(y_test, end="\n\n\n\n")

In [106]:
x

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

In [130]:
def search(entry):
    for column in t_result.index:
        for value in t[column]:
            if value == entry[column]:
                percent = round(t[t[column] == value].fillna(-1)['Survived'].value_counts(normalize=True)*100, 2).max()
                column_value = t[t[column] == value].fillna(-1)['Survived'].value_counts().sort_values(ascending=False).head(1).index[0]
                return column, percent, column_value

def first_model(x):
    entries = []
    for entry in x:
        entries.append({
            'Pclass': entry[1],
            'Name': entry[2],
            'Sex': entry[3],
            'Age': entry[4],
            'SibSp': entry[5],
            'Parch': entry[6],
            'Ticket': entry[7],
            'Fare': entry[8],
            'Cabin': entry[9],
            'Embarked': entry[10]
        })

    response = []
    result = []
    for entry in entries:
        response.append(search(entry))

    for i in reponse:
        result.append(response[2])

    return result
        

            
first_model(x)

NameError: name 'reponse' is not defined

In [84]:
first_model

[[892 3 'Kelly, Mr. James' ... 7.8292 nan 'Q']
 [893 3 'Wilkes, Mrs. James (Ellen Needs)' ... 7.0 nan 'S']
 [894 2 'Myles, Mr. Thomas Francis' ... 9.6875 nan 'Q']
 ...
 [1307 3 'Saether, Mr. Simon Sivertsen' ... 7.25 nan 'S']
 [1308 3 'Ware, Mr. Frederick' ... 8.05 nan 'S']
 [1309 3 'Peter, Master. Michael J' ... 22.3583 nan 'C']]
Ticket
Cabin
Sex
Fare
Pclass
Age
Embarked
SibSp
Parch