In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv('train.csv')
t = titanic.set_index(['PassengerId'])

In [13]:
t.nunique()

Survived      2
Pclass        3
Name        891
Sex           2
Age          88
SibSp         7
Parch         7
Ticket      681
Fare        248
Cabin       147
Embarked      3
dtype: int64

In [53]:
t['Survived'].unique() , "-------------------------------------", \
t['Pclass'].unique() , "-------------------------------------", \
t['Sex'].unique() , "-------------------------------------", \
t['SibSp'].unique() , "-------------------------------------", \
t['Parch'].unique() , "-------------------------------------", \
t['Embarked'].unique() , "-------------------------------------", \
t['Age'].unique() , "-------------------------------------", \
t['Cabin'].unique() , "-------------------------------------", \
t['Fare'].unique()

(array([0, 1]),
 '-------------------------------------',
 array([3, 1, 2]),
 '-------------------------------------',
 array(['male', 'female'], dtype=object),
 '-------------------------------------',
 array([1, 0, 3, 4, 2, 5, 8]),
 '-------------------------------------',
 array([0, 1, 2, 5, 3, 4, 6]),
 '-------------------------------------',
 array(['S', 'C', 'Q', nan], dtype=object),
 '-------------------------------------',
 array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
         4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
         8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
        49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
        16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
        71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
        51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
        45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
        60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
        70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ]),
 '-------------------------------------',
 array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
        'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
        'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
        'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
        'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
        'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
        'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
        'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
        'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
        'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
        'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
        'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
        'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
        'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
        'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
        'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
        'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
        'C148'], dtype=object),
 '-------------------------------------',
 array([  7.25  ,  71.2833,   7.925 ,  53.1   ,   8.05  ,   8.4583,
         51.8625,  21.075 ,  11.1333,  30.0708,  16.7   ,  26.55  ,
         31.275 ,   7.8542,  16.    ,  29.125 ,  13.    ,  18.    ,
          7.225 ,  26.    ,   8.0292,  35.5   ,  31.3875, 263.    ,
          7.8792,   7.8958,  27.7208, 146.5208,   7.75  ,  10.5   ,
         82.1708,  52.    ,   7.2292,  11.2417,   9.475 ,  21.    ,
         41.5792,  15.5   ,  21.6792,  17.8   ,  39.6875,   7.8   ,
         76.7292,  61.9792,  27.75  ,  46.9   ,  80.    ,  83.475 ,
         27.9   ,  15.2458,   8.1583,   8.6625,  73.5   ,  14.4542,
         56.4958,   7.65  ,  29.    ,  12.475 ,   9.    ,   9.5   ,
          7.7875,  47.1   ,  15.85  ,  34.375 ,  61.175 ,  20.575 ,
         34.6542,  63.3583,  23.    ,  77.2875,   8.6542,   7.775 ,
         24.15  ,   9.825 ,  14.4583, 247.5208,   7.1417,  22.3583,
          6.975 ,   7.05  ,  14.5   ,  15.0458,  26.2833,   9.2167,
         79.2   ,   6.75  ,  11.5   ,  36.75  ,   7.7958,  12.525 ,
         66.6   ,   7.3125,  61.3792,   7.7333,  69.55  ,  16.1   ,
         15.75  ,  20.525 ,  55.    ,  25.925 ,  33.5   ,  30.6958,
         25.4667,  28.7125,   0.    ,  15.05  ,  39.    ,  22.025 ,
         50.    ,   8.4042,   6.4958,  10.4625,  18.7875,  31.    ,
        113.275 ,  27.    ,  76.2917,  90.    ,   9.35  ,  13.5   ,
          7.55  ,  26.25  ,  12.275 ,   7.125 ,  52.5542,  20.2125,
         86.5   , 512.3292,  79.65  , 153.4625, 135.6333,  19.5   ,
         29.7   ,  77.9583,  20.25  ,  78.85  ,  91.0792,  12.875 ,
          8.85  , 151.55  ,  30.5   ,  23.25  ,  12.35  , 110.8833,
        108.9   ,  24.    ,  56.9292,  83.1583, 262.375 ,  14.    ,
        164.8667, 134.5   ,   6.2375,  57.9792,  28.5   , 133.65  ,
         15.9   ,   9.225 ,  35.    ,  75.25  ,  69.3   ,  55.4417,
        211.5   ,   4.0125, 227.525 ,  15.7417,   7.7292,  12.    ,
        120.    ,  12.65  ,  18.75  ,   6.8583,  32.5   ,   7.875 ,
         14.4   ,  55.9   ,   8.1125,  81.8583,  19.2583,  19.9667,
         89.1042,  38.5   ,   7.725 ,  13.7917,   9.8375,   7.0458,
          7.5208,  12.2875,   9.5875,  49.5042,  78.2667,  15.1   ,
          7.6292,  22.525 ,  26.2875,  59.4   ,   7.4958,  34.0208,
         93.5   , 221.7792, 106.425 ,  49.5   ,  71.    ,  13.8625,
          7.8292,  39.6   ,  17.4   ,  51.4792,  26.3875,  30.    ,
         40.125 ,   8.7125,  15.    ,  33.    ,  42.4   ,  15.55  ,
         65.    ,  32.3208,   7.0542,   8.4333,  25.5875,   9.8417,
          8.1375,  10.1708, 211.3375,  57.    ,  13.4167,   7.7417,
          9.4833,   7.7375,   8.3625,  23.45  ,  25.9292,   8.6833,
          8.5167,   7.8875,  37.0042,   6.45  ,   6.95  ,   8.3   ,
          6.4375,  39.4   ,  14.1083,  13.8583,  50.4958,   5.    ,
          9.8458,  10.5167]))

In [15]:
t.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [16]:
t.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

شمارش مقادیر خالی در هر ستون، همانطور که مشخص هست فقط ستون سن و کابین و محل سوار شدن دارای مقادیر خالی هستند

In [45]:
t.isna().sum(axis=0)

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

توزیع ستون‌های مختلف

In [50]:
round(t['Survived'].value_counts(normalize=True)*100, 2), "-------------------------------------", \
round(t['Pclass'].value_counts(normalize=True)*100, 2) , "-------------------------------------", \
round(t['Sex'].value_counts(normalize=True)*100, 2) , "-------------------------------------", \
round(t['SibSp'].value_counts(normalize=True)*100, 2) , "-------------------------------------", \
round(t['Parch'].value_counts(normalize=True)*100, 2) , "-------------------------------------", \
round(t['Embarked'].value_counts(normalize=True)*100, 2) , "-------------------------------------", \
round(t['Ticket'].value_counts(normalize=True)*100, 2) , "-------------------------------------", \
round(t['Age'].value_counts(normalize=True)*100, 2) , "-------------------------------------", \
round(t['Cabin'].value_counts(normalize=True)*100, 2) , "-------------------------------------", \
round(t['Fare'].value_counts(normalize=True)*100, 2)

(Survived
 0    61.62
 1    38.38
 Name: proportion, dtype: float64,
 '-------------------------------------',
 Pclass
 3    55.11
 1    24.24
 2    20.65
 Name: proportion, dtype: float64,
 '-------------------------------------',
 Sex
 male      64.76
 female    35.24
 Name: proportion, dtype: float64,
 '-------------------------------------',
 SibSp
 0    68.24
 1    23.46
 2     3.14
 4     2.02
 3     1.80
 8     0.79
 5     0.56
 Name: proportion, dtype: float64,
 '-------------------------------------',
 Parch
 0    76.09
 1    13.24
 2     8.98
 5     0.56
 3     0.56
 4     0.45
 6     0.11
 Name: proportion, dtype: float64,
 '-------------------------------------',
 Embarked
 S    72.44
 C    18.90
 Q     8.66
 Name: proportion, dtype: float64,
 '-------------------------------------',
 Ticket
 347082      0.79
 CA. 2343    0.79
 1601        0.79
 3101295     0.67
 CA 2144     0.67
             ...
 9234        0.11
 19988       0.11
 2693        0.11
 PC 17612    0.11
 370376      0.11
 Name: proportion, Length: 681, dtype: float64,
 '-------------------------------------',
 Age
 24.00    4.20
 22.00    3.78
 18.00    3.64
 19.00    3.50
 28.00    3.50
          ...
 36.50    0.14
 55.50    0.14
 0.92     0.14
 23.50    0.14
 74.00    0.14
 Name: proportion, Length: 88, dtype: float64,
 '-------------------------------------',
 Cabin
 B96 B98        1.96
 G6             1.96
 C23 C25 C27    1.96
 C22 C26        1.47
 F33            1.47
                ...
 E34            0.49
 C7             0.49
 C54            0.49
 E36            0.49
 C148           0.49
 Name: proportion, Length: 147, dtype: float64,
 '-------------------------------------',
 Fare
 8.0500     4.83
 13.0000    4.71
 7.8958     4.26
 7.7500     3.82
 26.0000    3.48
            ...
 35.0000    0.11
 28.5000    0.11
 6.2375     0.11
 14.0000    0.11
 10.5167    0.11
 Name: proportion, Length: 248, dtype: float64)

In [1]:
# ts_cabin = ts[['Cabin']].dropna().drop_duplicates(subset=['Cabin']).sort_values(['Cabin'])
# tns_cabin = tns[['Cabin']].dropna().drop_duplicates(subset=['Cabin']).sort_values(['Cabin'])
# tns_cabin.sub(axis='columns')