In [3]:
# Import Package
from collections import Counter
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

# Initialize Dataset and PreProcess Data
path ='../train.csv'
path2 ='../test.csv'
path3 ='../gender_submission.csv'

dataset_x_y_train = pd.read_csv(path)
dataset_x_test = pd.read_csv(path2)
dataset_y_test = pd.read_csv(path3)

dataset_x_y_test = dataset_y_test.merge(dataset_x_test, on='PassengerId')
dataset = pd.concat([dataset_x_y_test, dataset_x_y_train])

dataset['Sex'] = dataset['Sex'].astype('category')
dataset['Cabin'] = dataset['Cabin'].astype('category')
dataset['Ticket'] = dataset['Ticket'].astype('category')
dataset['Embarked'] = dataset['Embarked'].astype('category')
dataset['Name'] = dataset['Name'].astype('category')

dataset['Sex'] = dataset['Sex'].cat.codes
dataset['Cabin'] = dataset['Cabin'].cat.codes
dataset['Ticket'] = dataset['Ticket'].cat.codes
dataset['Embarked'] = dataset['Embarked'].cat.codes
dataset['Name'] = dataset['Name'].cat.codes

dataset['Age'] = dataset['Age'].fillna(-1)
dataset['Fare'] = dataset['Fare'].fillna(-1)
#dataset.columns[dataset.isnull().any()].tolist()

dataset = dataset.sort_values(['PassengerId'])
dataset = dataset.reindex(columns=['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived'])

x = dataset.iloc[:891, :-1].values
y = dataset.iloc[:891, 11].values
x_train = pd.DataFrame(x, columns=['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'])
y_train = pd.DataFrame(y, columns=['Survived']).squeeze('columns')

x = dataset.iloc[891:, :-1].values
y = dataset.iloc[891:, 11].values
x_test = pd.DataFrame(x, columns=['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'])
y_test = pd.DataFrame(y, columns=['Survived']).squeeze('columns')

In [4]:
x_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892.0,3.0,638.0,1.0,34.5,0.0,0.0,376.0,7.8292,-1.0,1.0
1,893.0,3.0,1266.0,0.0,47.0,1.0,0.0,582.0,7.0000,-1.0,2.0
2,894.0,2.0,837.0,1.0,62.0,0.0,0.0,184.0,9.6875,-1.0,1.0
3,895.0,3.0,1278.0,1.0,27.0,0.0,0.0,366.0,8.6625,-1.0,2.0
4,896.0,3.0,543.0,0.0,22.0,1.0,1.0,338.0,12.2875,-1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
413,1305.0,3.0,1126.0,1.0,-1.0,0.0,0.0,711.0,8.0500,-1.0,2.0
414,1306.0,1.0,891.0,0.0,39.0,0.0,0.0,834.0,108.9000,64.0,0.0
415,1307.0,3.0,1046.0,1.0,38.5,0.0,0.0,872.0,7.2500,-1.0,2.0
416,1308.0,3.0,1227.0,1.0,-1.0,0.0,0.0,579.0,8.0500,-1.0,2.0
417,1309.0,3.0,953.0,1.0,-1.0,1.0,1.0,262.0,22.3583,-1.0,0.0

In [8]:
x_test.values[0]

array([892.    ,   3.    , 638.    ,   1.    ,  34.5   ,   0.    ,
         0.    , 376.    ,   7.8292,  -1.    ,   1.    ])